// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

// Main Styles

.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    overflow: hidden;

    ul {
        width: 140rem;
        height: 10rem;
        position: absolute;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid slateblue;
        animation: rotationAni 6s cubic-bezier(.68,.12,0,.99)forwards infinite;
        

        @keyframes rotationAni {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        } 

    }
}

@for $i from 1 through 9 {
    ul:nth-child(#{$i}) {
       transform: rotate($i*20deg); 
       animation-delay: $i*-.2s;       
    }
}